ElemwiseRetro/dataset/*
!ElemwiseRetro/dataset/preprocessed dataset will be saved.txt

# Result files
ElemwiseRetro/result/*
!ElemwiseRetro/result/result will be saved.txt

# Model files
ElemwiseRetro/model/*
!ElemwiseRetro/model/model will be saved.txt

# pyc
*.pyc
